<link rel="stylesheet" href="../css/main_page.css">
<!-- вставляется сразу же после <div id="content"> в index.html -->
<template>
    <div id="wrapper_for_lists_of_tasks">
        <!-- шаблоны списков задач -->
        <div id="templates_of_lists_of_tasks">
            <fieldset>
                <legend><img src="#" alt="Favourites">Шаблоны списков задач</legend>
                <div id="collection_of_templates">
                    <ul>
                        <li><input type="image" value="Добавить список"></li>
                        <li>Шаблон 1</li>
                        <li>Шаблон 1</li>
                        <li>Шаблон 1</li>
                        <li>Шаблон 1</li>
                        <li>Шаблон 1</li>
                    </ul>
                </div>
            </fieldset>
        </div>

        <!-- списки задач -->
        <div id="lists_of_tasks">
            <fieldset>
                <legend><img src="#" alt="Обычные списки">Списки задач</legend>
                <div id="collection_of_list_of_tasks">
                    <ul>
                        <li><input type="image" value="Добавить список"></li>
                        <li>Шаблон 1</li>
                    </ul>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="colleagues">
        <p>Коллеги</p>
        <input id="search_of_user" type="text" placeholder="Поиск">
        <div id="list_of_colleagues">
            <ul>
                <li>Петров Иван</li>
                <li>Гордеев Владимир</li>
            </ul>
        </div>
    </div>
</template>