<link rel="stylesheet" href="../css/settings_page.css">

<template>
    <div id="wrapper_for_settings">
        <div id="photo_of_user">
            <img src="#" alt="Фото пользователя">
        </div>

        <ul id="settings">
            <li>
                <label for="e-mail">*e-mail:</label>
                <input type="text" id="e-mail">
            </li>
            <li>
                <label for="old_password">Старый пароль:</label>
                <input type="password" id="old_password">
            </li>
            <li>
                <label for="new_password">Новый пароль:</label>
                <input type="password" id="new_password">
            </li>
            <li>
                <label for="confirm_new_password">Подтверждение нового пароля:</label>
                <input type="password" id="confirm_new_password">
            </li>

            <li>
                <label for="login">*Логин:</label>
                <input type="text" id="login">
            </li>
            <li>
                <label for="lastname">Фамилия:</label>
                <input type="text" id="lastname">
            </li>
            <li>
                <label for="firstname">Имя:</label>
                <input type="text" id="firstname">
            </li>
        </ul>

        <div class="clear"></div>

        <div id="apply">
            <input type="button" value="Применить изменения" id="apply_the_changes">
        </div>
    </div>
</template>